<div class="containerStatus">
    Element status
</div>


<br>
<div class="graph" >
    
    <p id="i01" ></p>
    
    <div id="p02"  >
     <canvas id="canvas">  </canvas>
    </div>
      
    <p id="i03" class="boxtext">Occupancy</p>
    
    <img 
    src="../assets/Occupancy graph.png"
     alt="energy"
     class="logo"
     id="p04"
     /> 
     
     <p id="i05" class="boxtext">Temperature</p>
   
     <img 
     src="../assets/Temperature graph.png"
      alt="energy"
      class="logo"
      id="p06"
      /> 
     
      <p id="i07" class="boxtext">Humidity</p>
     
      <img 
      src="../assets/humidity graph.png"
       alt="energy"
       class="logo"
       id="p08"
       /> 

</div> 
