mat-toolbar{
    background-color:#1287A5;
    position: sticky;
    top: 0;
    z-index: 3;
    font-size: 0.6cm;
    text-align: end ;
    font-weight: bold;
    width: 100%;
    color: whitesmoke;
    padding-left: 15mm;
    width: 100%;
        
}

@media screen and (max-width: 39.9375em) {
    mat-toolbar{
        background-color:#1287A5;
        position: sticky;
        top: 0;
        z-index: 1;
        font-size: 0.6cm;
        text-align: end ;
        font-weight: bold;
        width: 100%;
        padding-left: 5mm;
        
    }


}