<app-simple-site-header></app-simple-site-header>

<h4>

    <div class="container mat-elevation-z2" id="element_info">
        <app-elementInfo [buildb] = "buildb"  [spaceb] = "spaceb" [storey9b] = "storey9b" 
        [storey8b] = "storey8b" [defb] = "defb" [light_1b] = "light_1b" [light_2b] = "light_2b" 
        [light_3b] = "light_3b" [sensorb] = "sensorb" (outputoParent)="updateDisplayedData($event)"></app-elementInfo>
   </div>

    <div class="container" id="bim_viewer">
        <app-simpleviewer></app-simpleviewer>
    </div>

    <div class="container" id="sensordata">
        <app-sensordata [displayedData] = "displayedData" ></app-sensordata>
    </div>

    <div class="container" id="heroes">
     
        
    </div>

</h4>

