<label class="label">
   <p id="title1"> Show/Hide</p>
   <div id="SH">
    <button id="b01" ><img src="../assets/space.png" class="picbutton"></button>
    <button id="b02" ><img src="../assets/wall.png" class="picbutton"></button>
    <button id="b03"><img src="../assets/slab.png" class="picbutton"></button>
    <button id="b04"><img src="../assets/ceiling.png" class="picbutton"></button>
    <button id="b05"><img src="../assets/Roof.png" class="picbutton"></button>
    <button id="b06"><img src="../assets/door.png" class="picbutton"></button>
    <button id="b07" ><img src="../assets/window.png" class="picbutton"></button>
    <button id="b08"><img src="../assets/beam.png" class="picbutton"></button>
    <button id="b09" ><img src="../assets/collumn.png" class="picbutton"></button>
    <button id="b10" ><img src="../assets/stair.png" class="picbutton"></button>
  </div>
   <p id="title2"> Zoom </p>
    <mat-slider color="primary" min="0" max="10" id="slider"></mat-slider>
    <button id="b11"><img src="../assets/zoom extend.png" class="picbutton"></button>
    <button id="b12"><img src="../assets/orbit.png" class="picbutton"></button>
    <button id="b13"><img src="../assets/pan.png" class="picbutton"></button>
</label>
<div class="black" >
    <img 
   src="../assets/bim.png"
    alt="viewer"
    class="logo"
    /> 
   </div> 

     <!--  <input type="text" [formControl]="filter">
    <button (click)="updateFilter()">Filter</button>-->

